[Desktop Entry]
Exec=bash -c 'cd "$(dirname "%k")" && python3 gitfourchette'
Icon=gitfourchette
Name=GitFourchette
StartupNotify=true
Type=Application
