[Desktop Entry]
Name=GitFourchette
Comment=The comfy Git UI
Comment[fr]=L’interface Git tout confort
Exec=gitfourchette %F
Icon=io.jor.gitfourchette
StartupNotify=true
Type=Application
Categories=Development;RevisionControl;
Keywords=git;
