QTreeView::branch:selected:!active,
QTreeView::item:selected:!active,
QListView::item:selected:!active {
    background-color: palette(mid);
}

QTreeView#sidebar {
    background: palette(window);
}

QTreeView#sidebar::branch {
    image: none;
    border-image: none;
}

StateBox { padding: 8px; }

StateBox { background-color: #ffbb00; }
StateBox QLabel { color: black; }

StateBox[heeded="true"] { background-color: #3d9970; }
StateBox[heeded="true"] QLabel { color: white; }

