QSplitter::handle {
   background-color: palette(Mid);
   height: 1px;
}

QMenuBar {
    border: 0;
}

QTreeView#sidebar {
    background: transparent;
}

QTreeView::branch:selected:!active,
QTreeView::item:selected:!active,
QListView::item:selected:!active {
    background-color: palette(mid);
}
