QTreeView::branch:selected:!active,
QTreeView::item:selected:!active,
QListView::item:selected:!active {
    background-color: palette(mid);
}

QTreeView#sidebar {
    background: transparent;
}

QTreeView#sidebar::branch {
    image: none;
    border-image: none;
}
