[Desktop Entry]
Name=GitFourchette
Comment=The comfy Git UI
Comment[fr]=L’interface Git tout confort
Exec=python3 -m gitfourchette %F
Icon=gitfourchette
StartupNotify=true
Type=Application
Categories=Development;RevisionControl;
Keywords=git;
